<!doctype html>
<html lang="en">
<head>
  <%- include('../fragments/head'); %>
</head>
<body class="container">

<header>
  <%- include('../fragments/header'); %>
</header>

<main>
  <%- message %>
</main>

<footer>
  <%- include('../fragments/footer'); %>
</footer>

</body>
</html>
